@import url(('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
  background-color: purple;
  font-family: "Silkscreen";
  font-size: 30px;
  padding: 0px;
}
#deminor {
  height: 265px;
  width: 265px;
  background-color: #cacaca;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: ridge;
  border-width: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.case {
  width: 30px;
  height: 30px;
}
.dotted {
  border-bottom-style: dotted;
  border-left-style: dotted;
};
