@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
body {
  background-color: purple;
  font-family: "Silkscreen";
  font-size: 30px;
  padding: 0px;
}
#deminor {
  height: 365px;
  width: 365px;
  background-color: #cacaca;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: ridge;
  border-width: 10px;
  box-shadow: -15px 10px 10px black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.case {
  text-align: center;
  width: 42px;
  height: 42px;
  border-top-style: dashed;
  border-right-style: dashed;
}

.one {
  color: #5700ff;
  border-color: black;
}

.two {
  color: #009e00;
  border-color: black;
}
.three {
  color: #ff0000;
  border-color: black;
}

.h {
  width: 42px;
  color: #cacaca;
  border-style: groove;
  border-width: 1px;
  border-color: black;
}

.one.h:hover {
  color: #5700ff;
  border-color: black;
}

.two.h:hover {
  color: #009e00;
  border-color: black;
}

.three.h:hover {
  color: #ff0000;
  border-color: black;
}

.bomb.h {
  opacity: 0;
  border-style: groove;
  border-width: 1px;
  border-color: black;
}

.bomb.h:hover {
  opacity: 1;
}
